h1 {
    font-family: "Arial";
    font-size: 45px;
    color: black;
    text-align: center;
}

h2 {
    color: #fafafa;
    text-align: center;
}

#form {
    border: solid 6px black;
}


/*        배치 및 여백*/
#title {
    margin: 18px;
    padding: 100px 0 0 0;
}


#form {
    margin : 100px auto;
    padding: 15px;
    width: 460px;
    height: 250px;
}


#contact td{
    padding: 5px 7px;
}