/*style.css*/
body {
    margin: 0;
    font-family: "맑은 고딕", "Apple SD Gothic Neo", "sans-serif";
}
@media (min-width: 768px) {
    .conB .container {
        display: flex;
    }
    .conB .text {
        flex: 1;
    }
    
}